# allow writes to sysfs files that have not yet been labeled
allow init-power-sh sysfs:file rw_file_perms;
allow init-power-sh sysfs_usb:file w_file_perms;
