# Pure Extras

on post-fs-data
    # Run arise
    start arise

    # Run sysinit
    start sysinit

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot
    disabled

# arise sound mod
service arise /system/bin/ariseinit
    user root
    group root system
    seclabel u:r:arise:s0
    oneshot
    disabled
